Theory Questions

1. What are data structures, and why are they important?

Ans 1. Data structures are specialized formats for organizing, processing, and storing data. They are essential because they enable efficient access and modification of data, which is crucial for building fast and optimized algorithms.

2. Explain the difference between mutable and immutable data types with examples?

- Mutable types can be changed after creation. Example: list, dict, set.

- Immutable types cannot be changed once created. Example: int, str, tuple.

In [ ]:
my_list = [1, 2, 3]  # Mutable
my_tuple = (1, 2, 3)  # Immutable

3. What are the main differences between lists and tuples in Python?

Ans 3.
- Lists are mutable, whereas tuples are immutable.

- Lists use square brackets []; tuples use parentheses ().

- Tuples are generally faster and used for fixed data.

4. Describe how dictionaries store data.

Ans 4. Dictionaries store data as key-value pairs. Each key maps to a value, and keys must be unique and hashable.

5. Why might you use a set instead of a list in Python?

Ans 5. Sets automatically discard duplicates and offer faster membership tests (in keyword), making them ideal when uniqueness is needed.

6. What is a string in Python, and how is it different from a list?

Ans 6. A string is a sequence of characters and is immutable. A list is a sequence that can hold items of different data types and is mutable.

7. How do tuples ensure data integrity in Python?

Ans 7. Since tuples are immutable, their contents cannot be changed, reducing accidental modifications and ensuring data stability.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans 8. A hash table maps keys to values using a hash function. Python dictionaries are built using hash tables for fast key-based data access.

9. Can lists contain different data types in Python?

Ans 9. Yes, Python lists can hold a mix of data types like integers, strings, and even other lists.

10. Explain why strings are immutable in Python?

Ans 10. Strings are immutable for memory efficiency and thread safety. Any operation on a string returns a new object rather than modifying the original.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans 11. Dictionaries provide quick access via keys and are better for associative data, whereas lists require iteration to find items.

12. Describe a scenario where using a tuple would be preferable over a list?

Ans 12. Tuples are preferable when data should remain constant, like fixed coordinates (x, y) or function return values that shouldn't change.

13. How do sets handle duplicate values in Python?

Ans 13. Sets automatically eliminate duplicates, storing each item only once regardless of how many times it’s added.

14. How does the “in” keyword work differently for lists and dictionaries?

Ans 14.
- In lists, it checks for the presence of a value.

- In dictionaries, it checks for the presence of a key.

15. Can you modify the elements of a tuple? Explain why or why not?

Ans 15. No, tuples are immutable. Once created, their elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary inside another dictionary.
Example:

In [ ]:
student = {"name": "Alice", "marks": {"math": 90, "science": 85}}

17. Describe the time complexity of accessing elements in a dictionary?

Ans 17. On average, accessing elements by key in a dictionary has O(1) time complexity due to its hash table implementation.

18. In what situations are lists preferred over dictionaries?

Ans 18. Lists are preferred when the order of items matters or when items don’t need unique keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans 19. Dictionaries (before Python 3.7) didn’t maintain insertion order. While modern versions do, retrieval is still key-based and not index-based.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans 20.
- List: retrieve by index (e.g., my_list[0]).

- Dictionary: retrieve by key (e.g., my_dict['key']).

Practical Questions

1. Write a code to create a string with your name and print it?

In [2]:
name = "Deepak"
print(name)

Deepak

2. Write a code to find the length of the string "Hello World"?

In [3]:
print(len("Hello World"))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [4]:
print("Python Programming"[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase?

In [5]:
print("hello".upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [6]:
print("I like apple".replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it?

In [7]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [8]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [9]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [10]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]?

In [12]:
Mylist = [10, 20, 30, 40, 50]
Mylist.reverse()
print(lst)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [13]:
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [14]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

In [15]:
nums = (10, 20, 5, 15)
print(min(nums))

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [16]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

In [18]:
fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?

In [19]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

In [21]:
list = {1, 2, 3, 4, 5}
list.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?

In [22]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

In [23]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?

In [24]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

In [26]:
person = {"name": "Deepak", "age": 27, "city": "Delhi"}
print(person)

{'name': 'Deepak', 'age': 27, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?

In [27]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?

In [28]:
data = {'name': 'Alice', 'age': 30}
print(data["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?

In [30]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

In [31]:
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all?

In [32]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)?

In [33]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[25, 62, 72, 76, 77]

28. Write a code to create a list with strings and print the element at the third index?

In [34]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result?

In [35]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged = {**dict1, **dict2}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set?

In [36]:
str_list = ["apple", "banana", "apple"]
str_set = set(str_list)
print(str_set)

{'banana', 'apple'}